body {background-color: #1E1E1E;}
a {
    text-decoration: none;
    color: #7a7a7a;
}
.item {
    color: #7a7a7a;
    padding-left: 2.5vw; 
    font-family: Verdana; 
    font-size: 1.2vw; 
    line-height: 4.3vh;
}
.list {
    background-color: #252526; 
    color: #7a7a7a; 
    padding-left: 0.6vw; 
    font-family: Verdana; 
    font-size: 1.2vw; 
    border-style: solid; 
    border-width: 0.2vw;
    border-color: #333333;
}
.manual-text {
    background-color: #252526;
    color: #7a7a7a; 
    font-family: Verdana;
    font-size: 1.3vw; 
}
.button {
   font-family: Verdana;
   font-size: 1.2vw; 
   font-weight: bold;
   border-radius: 5vw;
}
.logo-hex {
    text-align: center;
    font-family: Verdana;
    font-size: 2vw;
    text-transform: uppercase;
    background: linear-gradient(275deg, #008299 12%, #04daff 70%, #c0f4fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
::-webkit-scrollbar {
    display: none;
}