body {background-color: #1E1E1E;
}
a {
    text-decoration: none;
    color: #7a7a7a;
}
.item {
    color: #6d6d6d;
    font-family: Verdana;
    padding-left: 0.3vw; 
    font-size: 1.3vw; 
    line-height: 4.3vh;
}
.class {
    color: #7a7a7a;
    font-family: Verdana; 
    font-size: 1.3vw; 
    line-height: 4.5vh;
}
.list {
    background-color: #252526; 
    color: #7a7a7a; 
    padding-left: 1.5vw; 
    font-family: Verdana; 
    font-size: 1.3vw; 
    border-style: solid; 
    border-width: 0.2vw;
    border-color: #333333;
}
.manual-text {
    background-color: #252526;
    color: #7a7a7a; 
    font-family: Consolas;
    font-size: 1.3vw; 
}
.button {
   font-family: Verdana;
   font-size: 1.2vw; 
   font-weight: bold;
   border-radius: 5vw;
}
.logo {
    text-align: center;
    font-family: Verdana;
    font-size: 2vw;
    background: linear-gradient(275deg, #b90000 5%, #ff0000 70%, #fc4040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
::-webkit-scrollbar {
    display: none;
}